.App {
  width:  80%;
  margin: 1rem auto;
}
.card {
  width: 60%;

  margin:  5rem auto;
}
span {
  color: blue;
  font-style:italic;

}
h6{
  color:  red ;
}
.footer {
  position: fixed;
  bottom:  0px;
}
.header {
  position: fixed;
  top: 0px;
}